<div class="lost-password-body center" fxLayoutAdivgn="center center">
    <h1 class="page-header">Header
    </h1>
    <div [innerHTML]="body">
    </div>
</div>
<div *ngIf="!lostPasswordResponse;else completed" class="casino-form-wrapper" fxLayout="row"
    fxLayoutAlign="center center">
    <div id="casino-form">
        <mat-error *ngIf="hasError">{{errorMsg}}</mat-error>
        <div fxLayout="row" fxLayoutAlign="center center">
            <form name="lostPasswordForm" [formGroup]="lostPasswordForm" (ngSubmit)="onSubmit(lostPasswordForm)">
                <mat-form-field>
                    <mat-label i18n>email address</mat-label>
                    <input matInput type="text" placeholder="enter your email address" formControlName="mail">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="lostPasswordForm.get('mail').hasError('email')" i18n>please provide valid email address</mat-error>
                </mat-form-field>
                <div class="buttons">
                    <div><button mat-flat-button color="warn" type="submit" [disabled]="!lostPasswordForm.valid"
                            i18n>submit</button></div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #completed>
    <div class="result" fxLayout="row" fxLayoutAlign="center center" i18n>Now check your email to reset your password.</div>
</ng-template>
<router-outlet></router-outlet>